.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}



.logo {
  width: 75px;
  height: 75px;
}

.nav-list > ul{
  list-style-type: none;
  display: flex;
}

.nav-list > ul > li {
  
  padding: 10px;
  /* display: flex; */
  
  /* gap: 10px;
  padding: 10px 10px; */

}


.card{
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
 

}

.card > img{
  width: 100%;
}

.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  
  
}
