.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  background-color: #FF3F33;
}

/* #root{
  background-color: #FFE6E1;
} */
html{
    background-color: #FFE6E1;
}

.logo-link{
  height: 75px;
}

.logo {
  width: 75px;
  height: 75px;
}

.nav-list > ul{
  list-style-type: none;
  display: flex;
}

.nav-list > ul > li {
  
  padding: 10px;
  /* display: flex; */
  
  /* gap: 10px;
  padding: 10px 10px; */

}


.card{
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
 

}

.card > img{
  width: 100%;
}

.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  
}

.search-container{
  margin: 10px;
}
